# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Conda / venv
venv/
.env/

# Chroma_Db 
/vlm/chroma_foods/
/vlm/chroma_debug.py
/vlm/chroma_dump.json

# ======================
# Windows ADS (너가 물어본 그거)
# ======================
*Zone.Identifier

ref.txt