# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
*.env

# Conda / venv
venv/
.env/

# Chroma_Db 
/vlm/chroma_foods/
*.sqlite3
/vlm/chroma_debug.py
/vlm/chroma_dump.json

/analysis/chroma_diabetes_guideline/
*.sqlite3


# ======================
# Windows ADS
# ======================
*Zone.Identifier

ref.txt

# ======================
# OS Junk
# ======================
.DS_Store
Thumbs.db

#vlm 데이터 폴더 제외
vlm/dataset/