# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/
# Environment variables
.env
*.env

# Conda / venv
venv/
.env/

# Chroma_Db 
/vlm/chroma_foods/
*.sqlite3
/vlm/chroma_debug.py
/vlm/chroma_dump.json

/analysis/chroma_diabetes_guideline/
*.sqlite3


# ======================
# Windows ADS
# ======================
*Zone.Identifier

ref.txt

# ======================
# OS Junk
# ======================
.DS_Store
Thumbs.db

#vlmmachine 폴더 제외
# vlm/dataset/
vlmmachine/chroma_foods/
vlm/visionmodel

#analysis 폴더 제외
analysis/logs/

#vlm training 폴더 제외
vlmtraining/dataset/
vlmtraining/ignore/
vlmtraining/test/testdataset/
vlmtraining/trained_models/

vlmtraining/trained_models/
*.safetensors
*.pt
*.pth

